[alias]
	ac = "!git add --all && git commit"
	br = "branch"
	cm = "commit"
	co = "checkout"
	df = "diff"
	dfs = "diff --staged"
	dt = "difftool"
	dts = "difftool --staged"
	mg = "merge"
	mt = "mergetool"
	st = "status"
	tree = "log --graph --oneline --decorate --all"

[core]
	autocrlf = input

[help]
	autocorrect = 30

[init]
	defaultBranch = main

[diff]
	colorMoved = zebra
	tool = vimdiff
[difftool]
	prompt = false
[difftool "vimdiff"]
	cmd = vim -d "$LOCAL" "$REMOTE"

[merge]
	tool = vimdiff
[mergetool]
	prompt = true
[mergetool "vimdiff"]
	cmd = vim -d "$LOCAL" "$REMOTE" "$MERGED" -c '$wincmd w' -c 'wincmd J'

[include]
	path = .gitconfig.user
